.mat-dialog-content {
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    h1 {
      text-align: center;
      margin-bottom: 0;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .edit-container {
    form {
      .card-input {
        width: 100%;
        input,
        mat-select {
          padding: 12px 16px;
          border-radius: 5px;
          border: 1px solid var(--table-row-hover);
          background-color: var(--table-row-hover);
          outline: none;
          color: var(--text-color);
          box-sizing: border-box;
        }
        &.min,
        &.max {
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: center;
          gap: 0.5rem;
          span {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30%;
            color: white;
            background-color: var(--table-row-hover);
            border-radius: 5px;
            border: 1px solid var(--table-bg);
            height: 5rem;
            font-size: 1rem;
            font-weight: 500;
            gap: 0.5rem;
            p {
              font-size: 0.8rem;
              margin-bottom: 0;
            }
          }
          mat-slider {
            width: 70%;
          }
        }
      }
    }

    .btn-container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 1rem;

      button {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        background-color: var(--table-row-hover);
        border-radius: 10px;
        transition: var(--ts);
        padding: 5px 20px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
