@import "src/styles/media";

.skeleton {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px 19px;

  .line {
    height: 46px;

    &.w3 {
      flex: 3;
      min-width: 25%;
    }

    &.w2 {
      flex: 2;
      min-width: 45%;
    }

    &.w1 {
      min-width: 100%;
    }

    &.check {
      width: 70px;
      height: 25px;
    }

    &.button {
      width: 180px;
      height: 35px;
      margin-top: -5px;
    }
  }
}

.centerTitle {
  text-align: center;
  margin: 0;
}

#password_recovery {
  background: linear-gradient(180deg, #222 0%, #0d0d0d 100%);
  min-height: 50vh;
  width: 100%;
  background-color: var(--main-color);
  padding: 2rem 8%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    max-width: 400px;
    width: 100%;
    height: fit-content;

    header {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      // img {
      //   width: 100%;
      // }
      h1 {
        text-align: center;
        color: var(--text-color);
        margin: 0;
      }
    }

    .form {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 20px;

      form {
        width: 100%;

        .card-input {
          &.options {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px;

            .forgot-password {
              display: flex;
              align-items: center;

              a {
                color: var(--text-color-50);
                text-decoration: none;
                transition: var(--ts);

                &:hover {
                  color: var(--text-color);
                  text-decoration: underline;
                }
              }
            }
          }

          &.button {
            margin-top: 50px;
          }
        }
      }
    }
  }

  .close_button {
    height: 41px;
    background-color: #cfcfcf
  }

}